<div class="container">
  <h1 class="center-align grey-text text-darken-4">Log in</h1>

  <div class="row">
    <%= form_for(:session, ul: login_path) do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>
        <div class="input-field col s12">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
            <%= f.submit( "Log in", class: "btn blue darken-2") %>
      </div>
    <% end %>
  </div>
</div>
