<%= render 'shared/errors', obj: @article %>
<div class="row">
  <%= form_for @article do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="input-field col s12">
        <%= f.label :description, for:"textarea1" %>
        <%= f.text_area :description, id:"textarea1", class:"materialize-textarea" %>
      </div>
      <div class="row">
        <div>
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
              <%= cb.check_box(class: "checkbox spacing", type: "checkbox") %>
              <%= cb.label(class: "spacing") %>

          <% end %>
        </div>
      </div>
          <%= f.submit(class: "btn blue darken-2") %>
    </div>
  <% end %>
</div>


<%= link_to 'Back to articles listing', articles_path %>
