<%= render 'shared/errors', obj: @article %>
<div class="row">
  <%= form_for @article do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="input-field col s12">
        <%= f.label :description, for:"textarea1" %>
        <%= f.text_area :description, id:"textarea1", class:"materialize-textarea" %>
      </div>
          <%= f.submit %>
    </div>
  <% end %>
</div>


<%= link_to 'Back to articles listing', articles_path %>
