<div class="container">
  <div class="row">
    <!-- for article's user-->
    <% if @article.user %>
    <div class="col s12 center-align">
      <ul>
        <div>
          <li>Created by:</li>
          <li><%= link_to gravatar_for(@article.user), user_path(@article.user)%></li>
          <li><%= link_to @article.user.username, user_path(@article.user) %></li>
          <li><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></li>
        </div>
      </ul>
    </div>
    <% end %>
    <!-- for article-->
    <div class="col s12 m12">
      <div class="card center-align blue lighten-5">
        <h3 class="cart-title article-header"><%= @article.title %></h3>
        <div class="divider"></div>
        <div class="padding">
          <p class="flow-text"><%= @article.description %></p>
        </div>
        <% if @article.categories.any? %>
          <div class="card-action">
              <%= render @article.categories %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="center-align">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to 'Edit', edit_article_path(@article), class: 'btn white-text green' %>
      <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"},
                                                    class: 'btn white-text deep-orange accent-4' %>
    <% end %>
    <%= link_to 'Back to articles listing', articles_path, class:"btn blue darken-2" %>
  </div>
</div>
