<div class="container center-align">
  <h1>All Alpha Bloggers</h1>
  <%= will_paginate @collection, renderer: MaterializeRenderer %>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col s4">
        <ul class="card small">
          <div>
            <li><%= link_to gravatar_for(user), user_path(user)%></li>
            <li><%= link_to user.username, user_path(user) %></li>
            <li><%= pluralize(user.articles.count, "article") if user.articles %></li>
            <% if logged_in? and current_user.admin? and user.id != current_user.id %>
              <li><%= link_to "Delete this user", user_path(user), method: :delete,
                    data: { confirm: "Are you sure you want to delete the user and all their articles?"} %></li>
            <% end %>
          </div>
        </ul>
      </div>
    <% end %>
  </div>
  <%= will_paginate @collection, renderer: MaterializeRenderer %>
</div>
