<h1> Sign up for Alpha Blog</h1>

<%= render 'shared/errors', obj: @user %>
<div class="row">
  <%= form_for @user do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
      <div class="input-field col s12">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="input-field col s12">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
          <%= f.submit "Sign Up" %>
    </div>
  <% end %>
</div>
